################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/QAToolKit.Engine.Bombardier/obj
/test/QAToolKit.Engine.Bombardier.Test/obj
